[user]
	name = Mike Chelen
	email = michael.chelen@gmail.com
[push]
	default = simple
[core]
	editor = vi
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring

